.adv {
    min-height: 590px;
    background-color: #f3f3f3;
    padding: 58px 0 50px 0;
    &__wrap {
        display: grid;
        grid-template-columns: repeat(2, 520px);
        grid-auto-rows: minmax(64px, auto);
        justify-content: center;
        grid-column-gap: 60px;
        grid-row-gap: 35px;
        margin-top: 30px;
    }
    &-item {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 20px;
        &__title {
            font-size: 16px;
            font-weight: 700;
            color: #ec644b;
        }
        &__subtitle {
            font-size: 14px;
            font-weight: 300;
            color: #3a3a3a;
            line-height: 22px;
            margin-top: 5px;
        }
        &__img {
            padding-top: 4px;
        }
    }
}
