.form {
    display: flex;
    margin-top: 68px;
    justify-content: center;
    .input {
        margin: 0 3px;
        font-size: 13px;
        font-weight: 300;
        color: rgba(16, 16, 16, 0.7);
        input {
            width: 268px;
            height: 45px;
            padding: 18px 28px;
            border-radius: 30px;
            border: solid 1px rgba(0, 0, 0, 0.21);
        }
        &_textarea {
            width: 100%;
            margin-top: 8px;
            input {
                width: 100%;
                height: 71px;
                border-radius: 10px;
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }
    }
    &_question {
        display: flex;
        flex-wrap: wrap;
        width: 822px;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 18px;
    }
}
